:root {
    --bs-primary: orange;
    --bs-primary-rgb: green;
    --bs-primary-hover: green;
    --bs-primary-active: green;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
    
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--bs-primary-hover);
    --bs-btn-hover-border-color: var(--bs-primary-hover);
    --bs-btn-focus-shadow-rgb: var(--bs-primary-rgb);
    
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--bs-primary-active);
    --bs-btn-active-border-color: var(--bs-primary-active);
}

.order-modal-item {
    margin-bottom: 10px;
    width: 100%;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
    border-width: 3px;
}

.order-modal-item-img-container {
    flex-grow: 2;
    display: flex;
    align-items: center;
}

.order-modal-item-img {
    width: 100%;
}

.order-modal-item-info {
    flex-grow: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    text-align: start;
}

.order-modal-item-info .text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.order-modal-item-title {
    -webkit-line-clamp: 2;
}

.order-modal-item-description {
    -webkit-line-clamp: 1;
    color: gray;
    width: 70%;
}

.order-modal-item-count-choice {
    margin-top: 20px;
    width: 100%;
    text-align: left;
    display: block;
    font-weight: 700;
}

.order-modal-item-count-choice .col{
    display: flex;
    align-items: center;
}

.order-modal-item-count-choice button {
    width: 38px;
    border-radius: 50px;
    font-weight: bold;
}

.order-modal-item-counter {
    justify-content: center;
    border-bottom: 2px solid black;
}

.order-modal-item-count-choice .card-text {
    white-space: nowrap;
    justify-content: center ;

}

.order-modal-item-price {
    display: flex;
    flex-direction: column;
    justify-content: center;

    flex-grow: 2;
    text-align: start;
}

.order-modal-item-price-text {
    font-weight: bold;
    color: var(--bs-primary);
    display: inline-block;
    transform: scaleY(0.95);
}

.order-modal-item-price-text::after {
    content: "$";
}
.span-container{
    display: flex;
    flex-direction: column;
}
.span-container span{
    -webkit-line-clamp: 1;
    color: gray;
    margin-bottom: 16px;
}

.modal-scrollable-list{
    max-height: 250px; /* Задайте желаемую максимальную высоту */
    overflow-y: auto; /* Включите вертикальную прокрутку */
    width: 98%;
    list-style-type: none;
    padding: 0;

}
/* Скрыть полосу прокрутки для элемента с классом.scrollable-element */
.modal-scrollable-list::-webkit-scrollbar {
    width: 0px;
}

.modal-scrollable-list::-webkit-scrollbar-thumb {
    background: transparent;
}


.order-modal-items-container{
    width: 100%;
}

.test{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.modal-container{
    height: 800px;
}
.price-text {
    font-weight: bold;
    color: orange;
    display: inline-block;
    transform: scaleY(0.95);
}

.price-text::after {
    content: "$";
}